*{
    margin: 0;
    color: white;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: white;
    background-image: url(cal2.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calculator{
    min-height:80vh;
    width: 90%;
    max-width: 33vw;
    background-color: #BDBDBD;
    margin: auto;
    box-shadow: 10px 10px 10px black;
    border-radius: 20px;
}
.c1{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #2E2E2E;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-radius: 20px;
}
p{
    font-size: 3.6rem;
    color: #FFD700;
}
.c2{
    width: 100%;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.c3{
    width: 100%;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.c4{
    width: 100%;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.c5{
    width: 100%;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.c6{
    width: 100%;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
button:hover{
    cursor: pointer;
}
button:active {
    transform: scale(0.95);
}
.a{
    height: 80%;
    width: 20%;
    border: none;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #5A7D7C;
    font-size: 30px;
    font-weight: 600;
    box-shadow: 3px 3px 3px black;
}
.b{
    height: 80%;
    width: 20%;
    border-radius: 50%;
    color: green;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border: 2px solid black;
    background-color: #E8F5E9;
    box-shadow: 3px 3px 3px black;
}
.e{
    height: 80%;
    width: 20%;
    border-radius: 50%;
    background-color: #2E7D32;
    font-size: 30px;
    font-weight: 600;
    border: none;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
}
.s{
    height: 80%;
    width: 20%;
    border-radius: 50%;
    color: green;
    font-size: 30px;
    font-weight: 600;
    border: none;
    border: 2px solid black;
    background-color: #E8F5E9;
    box-shadow: 3px 3px 3px black;
}

@media (max-width: 500px) {
    .calculator {
        width: 90%; /* Adjust size for small screens */
        min-width: 400px;
        /* height: auto; */
        max-height: 600px;
    }
}
@media (min-width: 500px) and (max-width:1000px){
    .calculator {
        width: 80%; /* Adjust size for small screens */
        min-width: 500px;
        height: auto;
    }
}
@media (min-width: 1000px) and (max-width:1500px) {
    .calculator {
        min-width: 50%; 
        
        height: auto;
    }
    p{
        font-size: 4rem;
    }
}
@media (min-width: 1500px) and (max-width:2000px) {
    .calculator {
        max-width: 50vw;
        height: auto;

    }
    p{
        font-size: 5rem;
    }
}
